<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--load the properties file: sport.properties-->
    <context:property-placeholder location="classpath:sport.properties"/>

    <!-- Define the dependencies -->
    <bean id="myFortune" class="demo.HappyFortuneService"></bean>

    <!-- Define the beans -->
    <bean id="myCoach" class="demo.VolleyballCoach" >
        <!-- set up constructor injection -->
        <constructor-arg ref ="myFortune"/>
    </bean>

    <bean id="myCricketCoach" class="demo.CricketCoach">
        <!--set up setter injection-->
        <property name="fortuneService" ref="myFortune" />

        <!--inject literal values -->
        <!--<property name="email" value="piotrekha15@gmail.com"/>-->
        <!--<property name="team" value="Śnieg Zakopianka" />-->
        <property name="email" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>
    </bean>
</beans>
